[submodule "backend"]
	path = backend
	url = https://github.com/CareerGalaxyCorp/careergalaxyapp.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/CareerGalaxyCorp/Career-galaxy-ui.git
